<h1>Editar Usuário</h1>
<div class="card">
    <div class="card-body">
        <form action="/usuario/update" method="post">
            <input type="hidden" name="id" value="{{usuario.dataValues.id}}">

            <label for="nome">Nome</label>
            <input type="text" name="nome" placeholder="Digite seu nome completo" class="form-control" value="{{usuario.dataValues.nome}}">

            <label for="nome">E-mail</label>
            <input type="text" name="email" placeholder="Digite um E-mail válido" class="form-control" value="{{usuario.dataValues.email}}"> 

            <label for="tipoUsuario">Tipo de Usuário</label>
            <select name="tipoUsuario" class="custom-select">
                <option value="{{usuario.dataValues.tipoUsuario}}" selected>{{usuario.dataValues.tipoUsuario}}</option>
                <option value="empresa">Empresa</option>
                <option value="entregador">Entregador</option>
            </select>

            <button type="submit" class="btn btn-primary mt-4">Atualizar</button>
        </form>
    </div>
</div>